@use "utils" as *;

.body {
  margin-top: 400px;
  padding: 0 160px;
  position: relative;

  @include breakpoint-down(medium) {
    margin-top: 200px;
    padding: 0 30px;
    text-align: center;
  }

  h2 {
    font-family: var(--fontSecondary);
    color: var(--veryDarkViolet);
    font-size: rem(50);
    font-weight: 400;
    line-height: 1;

    @include breakpoint-down(medium) {
      font-size: rem(40);
    }
  }

  &__traits {
    &:after {
      content: "";
      background: var(--darkGrayishViolet);
      position: absolute;
      top: -80px;
      left: 160px;
      height: 2px;
      width: 200px;

      @include breakpoint-down(medium) {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    ul {
      display: flex;
      gap: 30px;
      list-style: none;
      margin-top: 80px;

      @include breakpoint-down(medium) {
        flex-direction: column;
      }
    }

    h3 {
      font-family: var(--fontSecondary);
      font-weight: 400;
      font-size: rem(24);
      margin-top: 30px;
    }

    p {
      font-family: var(--fontPrimary);
      color: var(--darkGrayishViolet);
      margin-top: 30px;
    }
  }

  &__cta {
    background-color: var(--darkViolet);
    background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;

    padding: 60px 85px;
    margin-top: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint-down(medium) {
      background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top right;

      flex-direction: column;
      padding: 70px 40px;
    }

    h2 {
      color: var(--veryLightGray);
      max-width: 46%;

      @include breakpoint-down(medium) {
        max-width: 100%;
        font-size: rem(28);
      }
    }

    button {
      border: 2px solid var(--veryLightGray);
      background-color: transparent;
      color: var(--veryLightGray);
      padding: 10px 25px;

      font-family: var(--fontPrimary);
      text-transform: uppercase;
      font-weight: 700;

      transition: all 150ms ease-in-out;

      &:hover {
        cursor: pointer;

        background-color: var(--veryLightGray);
        color: var(--darkViolet);
      }

      @include breakpoint-down(medium) {
        margin-top: 50px;
      }
    }
  }
}
