:root {
  --fontPrimary: "Karla", sans-serif; // weights 400 700
  --fontSecondary: "DM Serif Display", serif; // weight 400
}

html {
  font-size: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: var(--white);
}
